<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.hjl.artisan">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/logo"
            android:name=".app.AndroidApplication"
            android:networkSecurityConfig="@xml/network_security_config"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".login.view.LoginView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".main.view.MainView"
                  android:screenOrientation="portrait"
                    android:launchMode="singleTask"/>
        <activity android:name=".web.WebViewActivity"/>
        <activity android:name=".tool.view.ActualMeasurement.ActualMeasurementSelectProView"/>
        <activity android:name=".tool.view.ActualMeasurement.ActualMeasurementSelectTableView"/>
        <activity android:name=".tool.view.ActualMeasurement.ActualMeasurementDetailView"/>
        <activity android:name=".tool.view.ActualMeasurement.ActualMeasurementCheckPointActvity"/>
        <activity android:name=".tool.view.ActualMeasurement.ActualMeasurementCheckDetailActivity"/>
        <activity android:name=".tool.view.ActualMeasurement.ActualMeasurementEndActivity"/>
        <activity android:name=".me.view.UpdatePwdActivity"/>
        <activity android:name=".me.view.MessageActivity"/>
        <activity android:name=".me.view.MessageApplyActivity"/>
        <activity android:name=".me.view.MessageNotSignActivity"/>
        <activity android:name=".me.view.NotSignDetailActivity"/>
        <activity android:name=".me.view.MessageExceptionActivity"/>
    </application>
</manifest>